<!DOCTYPE html>
<html xmlns:b="http://bindster.com/bindster.dtd" lang="en">
<script src="../index.js"></script>
<script src="../node_modules/supertype/index.js"></script>
<style>
    body {font-family:  Arial, Helvetica, sans-serif;}
    p {margin-bottom: 0px}
</style>
<script>
    var Controller = ObjectTemplate.create("Controller", {
        val1: {type: String, values: {"S":"Sam", "K":"Karen"}, value: null},
        val2: {type: String, values: function () {return {"S":"Sam", "K":this.karen}}, value: "S"},
        val3: {type: String, values: ["S", "K"], descriptions: {"S":"Sam", "K":"Karen"}, value: "S"},
        val4: {type: String, values: function () {return ["S", "K"]}, descriptions: function () {return {"S":"Sam", "K":this.karen}}, value: "S"},
        val5: {type: String, value: 'not set'},
        val6: {type: Boolean, values: {"true": 'Yes', "false":'No'}, value: true},
        karen: {type: String, value: "Karen"},
        getPlease: function () {
            return 'please';
        },
        setVal5: function () {
            this.val5 = this.val6;
            return false;
        }
    })
    var controller = new Controller();
</script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Iterating directly on a radio button</h2>
<p>type: String, values: {"S":"Sam", "K":"Karen"}</p>
<b:iterate on="val1" with="_rbdata_">
    <input b:bind="val1" type="radio" group="foo1" b:truevalue="_rbdata_.value" b:onclick="val5 = _rbdata_.value"><span b:bind="_rbdata_.description"></span><br />
</b:iterate>
<br />
<p>type: String, values: function () {return {"S":"Sam", "K":this.karen}}</p>
<b:iterate on="val2" with="_rbdata_">
    <input b:bind="val2" type="radio" group="foo2" b:truevalue="_rbdata_.value" b:onclick="val5 = _rbdata_.value"><span b:bind="_rbdata_.description"></span><br />
</b:iterate>

<p>type: String, values: ["S", "K"], descriptions: {"S":"Sam", "K":"Karen"}</p>
<b:iterate on="val3" with="_rbdata_">
    <input b:bind="val3" type="radio" group="foo3" b:truevalue="_rbdata_.value" b:onclick="val5 = _rbdata_.value"><span b:bind="_rbdata_.description"></span><br />
</b:iterate>

<p>type: String, values: function () {return ["S", "K"]}, descriptions: function () {return {"S":"Sam", "K":this.karen}}</p>
<b:iterate on="val4" with="_rbdata_">
    <input b:bind="val4" type="radio" group="foo4" b:truevalue="_rbdata_.value" b:onclick="val5 = _rbdata_.value"><span b:bind="_rbdata_.description"></span><br />
</b:iterate>

<p>type: boolean, values: {"true": 'Yes', "false":'No'}</p>
<b:iterate on="val6" with="_rbdata_">
    <input b:bind="val6" type="radio" group="foo5" b:truevalue="_rbdata_.value" b:onclick="val5 = _rbdata_.value"><span b:bind="_rbdata_.description"></span><br />
</b:iterate>

<h2>Same setup with selects</h2>

<p>type: String, values: {"S":"Sam", "K":"Karen"}</p>
<select b:bind="val1" b:onchange="val5=val1" b:pleaseselect="{getPlease() + ' select ' + val2}"></select><br />

<p>type: String, values: function () {return {"S":"Sam", "K":this.karen}}</p>
<select b:bind="val2" b:onchange="val5=val1"></select><br />

<p>type: String, values: function () {return ["S", "K"]}, descriptions: function () {return {"S":"Sam", "K":this.karen}}</p>
<select b:bind="val3" b:onchange="val5=val1"></select><br />

<p>type: String, values: function () {return ["S", "K"]}, descriptions: function () {return {"S":"Sam", "K":this.karen}}</p>
<select b:bind="val4" b:onchange="val5=val1"></select><br />

<p>type: boolean, values: {"true": 'Yes', "false":'No'}</p>
<input b:bind="val6" type="checkbox" b:truevalue="true" b:falsevalue="false" b:onclick="setVal5();"><br />

<h2>And some edits too</h2>
<input b:bind="val1" /><br />
<input b:bind="val2" /><br />
<input b:bind="val3" /><br />
<input b:bind="val4" /><br />

<h2>Result of onchange/onclick</h2>
<span b:bind="val5"></span>(<span b:bind="typeof(val5)"></span>)
</body>
<script>
    bindster = new Bindster(controller, null, controller, null, true);
    bindster.start();
</script>
</html>